<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <!-- Jquery -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/css/materialize.min.css"/>

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/js/materialize.min.js"></script>

    <!-- CSS styles -->

    <link rel="stylesheet" type="text/css" href="/css/styles.css"/>
</head>
<body>
<div class="container">
<h1>Add Pet Form</h1>
</div>
<div class="container add">
    <div class="row">
        <!--/*@thymesVar id="pet" type="hello.entity.Pet"*/-->
        <form action="addPet" th:action="@{/addPet}" th:object="${pet}" method="post">

            <input type="hidden" th:field="*{id}"/>
            <p>Name: <input type="text" th:field="*{name}"/></p>
            <td th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name cannot be empty</td>
            <p>Owner's First Name: <input type="text" th:field="*{ownerFirstName}"/></p>
            <td th:if="${#fields.hasErrors('ownerFirstName')}" th:errors="*{ownerFirstName}">Owner's name cannot be
                empty
            </td>
            <p>Owner's Last Name: <input type="text" th:field="*{ownerLastName}"/></p>
            <td th:if="${#fields.hasErrors('ownerLastName')}" th:errors="*{ownerLastName}">Owner's name cannot be
                empty
            </td>
            <p>Species: <input type="text" th:field="*{species}"/></p>
            <p th:if="${#fields.hasErrors('species')}" th:errors="*{species}">Species cannot be empty</p>
            <p>Sex: <input type="text" th:field="*{sex}"/></p>
            <p th:if="${#fields.hasErrors('sex')}" th:errors="*{sex}">Pets sex cannot be empty</p>
            <p>Data In: <input type="text" th:placeholder="dd-mm-yyyy" th:field="*{dataIn}"/></p>
            <p th:if="${#fields.hasErrors('dataIn')}" th:errors="*{dataIn}"></p>
            <p>Data Out: <input type="text" th:placeholder="dd-mm-yyyy" th:field="*{dataOut}"/></p>
            <p th:if="${#fields.hasErrors('dataOut')}" th:errors="*{dataOut}"></p>
            <p>Vet: <input type="text" th:field="*{vet}"/></p>
            <p>Status: <input type="text" th:field="*{status}"/></p>
            <Button th:type="submit" class="btn btn-primary ">Add</Button><a class="btn btn-primary sec-btn" th:href="@{/vet}">Back</a>
        </form>
    </div>
</div>
</body>
</html>