<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <!-- Jquery -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/css/materialize.min.css"/>

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/js/materialize.min.js"></script>

    <!-- CSS styles -->

    <!--<link rel="stylesheet" type="text/css" href="../static/index.css"/>-->

    <title>Pet Clinic App</title>
    <meta charset="UTF-8"/>
</head>
<body>
<div class="container">
    <div th:if="${param.error}">
        Invalid username and password.
    </div>
    <div th:if="${param.logout}">
        You have been logged out.
    </div>
    <div class="row">
        <form class="offset-l3 col l6" th:action="@{/login2}" method="post">
            <div class="row">
                <div class="offset-l3 input-field col l6">
                    <input placeholder="E-mail" name="username" type="text" class="validate"/>
                    <label>E-Mail</label>
                </div>
            </div>
            <div class="row">
                <div class="offset-l3 input-field col l6">
                    <input placeholder="Password" name="password" type="password" class="validate"/>
                    <label>Password</label>
                </div>
            </div>
            <div><input type="submit" value="Sign In"/></div>
        </form>
    </div>
</div>
</body>
</html>