<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <!-- Jquery -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/css/materialize.min.css"/>

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/js/materialize.min.js"></script>

    <!-- CSS styles -->

    <link rel="stylesheet" type="text/css" href="/css/main.css"/>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>


    <title>Registration form</title>

</head>
<body>
<div class="container registration">
    <H2>Registration Form</H2>
</div>


<div class="container registration">
    <!--/*@thymesVar id="owner" type="hello.entity.Owner"*/-->
    <form action="#" th:action="@{/registration}" th:object="${owner}" method="post">
        <div class="row">

                <div class="input-field">
                    <input placeholder="Name" th:field="*{firstName}" type="text"/>
                    <td th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">Invalid First Name</td>
                    <label>First name</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field">
                    <input placeholder="Surname" type="text" th:field="*{lastName}" class="validate"/>
                    <td th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Invalid Last Name</td>
                    <label>Last name</label>
                </div>
            </div>
        <div class="row">

                <div class="input-field">
                    <input placeholder="E-mail" type="text" th:field="*{mail}" class="validate"/>
                    <td th:if="${#fields.hasErrors('mail')}" th:errors="*{mail}">Invalid Mail</td>
                    <label>Mail</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field">
                    <input placeholder="Password" type="text" th:field="*{password}" class="validate"/>
                    <td th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password may not be empty</td>
                    <label>Password</label>
                </div>
            </div>
        <button class="btn waves-effect waves-light" type="submit" name="registration">Submit
            <i class="material-icons right">send</i>
        </button>
    </form>
</div>

</body>
</html>