<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <!-- Jquery -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/css/materialize.min.css"/>

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/js/materialize.min.js"></script>

    <!-- CSS styles -->

    <link rel="stylesheet" type="text/css" href="../static/index.css"/>

    <title>Pet Clinic App</title>
    <meta charset="UTF-8"/>
</head>
<body>
    <div class="container">
    <H2>Pet Clinic</H2>
    <a href="vet" th:href="@{/vet}">Link do veta</a>
    </div>

    <div class="container">
        <div th:if="${param.error}">
            Invalid username and password.
        </div>
        <div th:if="${param.logout}">
            You have been logged out.
        </div>
        <div class="row">

        </div>
    </div>
</body>
</html>